body {
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.form-container {
  display: block;
  position: sticky;
}

.form-area {
  position: sticky;
  top: 20px;
}
.form-container h3 {
  text-align: center;
}

.table-row:hover {
  background-color: aqua;
}

.modal-container {
  display: none;
}

td {
  text-align: center;
}
