<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TGNJ APP</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
    <link
      rel="icon"
      href="{{ url_for('static', filename='logo.ico') }}"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <label for="db_path">Database Path:</label>
      <p
        type="text"
        name="db_path"
        id="db_path"
        onblur="setDbPath()"
        width="fit-content"
        contenteditable="true"
      ></p>
    </header>
    <div class="window">
      <div class="form-container">
        <div class="form-area">
          <h3>Input for new items</h3>
          <form action="" onsubmit="event.preventDefault()">
            <div>
              <label for="sku_group">Sku Group</label>
              <span>:</span>
              <input
                type="text"
                id="sku_group"
                name="sku_group"
                oninput="liveLoadGroup()"
                required
              />
            </div>
            <br />
            <div>
              <label for="item_id">id</label>
              <span>:</span>
              <input type="text" name="item_id" id="item_id" required />
            </div>
            <div>
              <label for="shape">shape</label>
              <span>:</span>
              <input type="text" name="shape" id="shape" required />
            </div>
            <div>
              <label for="weight">weight</label>
              <span>:</span>
              <input
                type="text"
                name="weight"
                id="weight"
                placeholder="weight in cts."
                required
              />
            </div>
            <div>
              <label for="length">length</label>
              <span>:</span>
              <input
                type="text"
                name="length"
                id="length"
                placeholder="length in mm"
                required
              />
            </div>
            <div>
              <label for="width">width</label>
              <span>:</span>
              <input
                type="text"
                name="width"
                id="width"
                placeholder="width in mm"
                required
              />
            </div>
            <div>
              <label for="depth">depth</label>
              <span>:</span>
              <input
                type="text"
                name="depth"
                id="depth"
                placeholder="depth in mm"
                required
              />
            </div>
            <span onclick="handleFormSubmit()" class="form-submit-button"
              >Add Item</span
            >
            <span class="form-submit-button" onclick="makePrintPdf()"
              >Make Print PDF</span
            >
          </form>
        </div>
      </div>
      <!--  -->
      <div class="table-window">
        <div class="table-container">
          <table id="display-table">
            <thead>
              <tr>
                <th>sku</th>
                <th>shape</th>
                <th>weight</th>
                <th>length</th>
                <th>width</th>
                <th>depth</th>
                <th class="deleteCol">delete</th>
              </tr>
            </thead>
            <tbody id="display-table-body"></tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static',filename='script.js')}}"></script>
  </body>
</html>
